/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
$PC: 768px;

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
    color: #374149;
    body {
        font-feature-settings: "palt";
         font-size: 1.3rem;
         box-sizing: border-box;
         @mixin tag-category {
                padding:1% 2%;
                font-size: 1.2rem;
                font-weight: bold;
                border-radius: 60px;
                background-color: gray;
                text-align: center;
                vertical-align: bottom;
        }
        .sp-container {
            width: 100%;
            background-color: #fff;
            margin-bottom: 30px;
            .post-card {
                margin: 0 auto;
                width: 90%;
                
                background-color: #fff;
               box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
border-radius: 3px;
            &__inner {
                margin: 2%;
                
                padding: 2%;

            } 
            &__user-zone {
                display: flex;
                justify-content: space-between;
                padding-bottom: 5%;
                padding-top: 3%;
            }

            &__user-info {
                display: flex;
                align-items: center;
            }
            &__user-icon {
                margin-right: 5%;
                display: block;
                object-fit: cover;
                 width: 30%;
                 height: auto;

            }
          
            &__user-name {
                font-weight: bold;
                letter-spacing: 0.1rem;
                font-size: 1.6rem;
                display: block;
                
            }
            &__post-place {
                padding-top: 5%;
                display: flex;
                align-items: center;
            }
            &__place-icon {
                margin-right: 2%;
            }
            &__post-day {
                color: #888888;
            }
            &__post-txt {
               line-height: 2rem; 
            }
            &__readmore {
               &--active {
                   padding-left: 1%;
                   color: #888888,;
                   cursor: pointer;
               }
            }
            &__img {
                width: 100%;
                height: auto;
                margin: 2% 0;
            }
            &__tag-categories {
                padding: 3% 0;
            }
            &__tag-category {

                &--bus {
                    @include tag-category;
                   background-color: #D9E9F8;
                   color: #4462AB;
                }
                &--env {
                    @include tag-category;
                   background-color: #DAF8E0;
                   color: #5C9A6B;
                }
                &--b {
                    @include tag-category;
                   background-color: #F7D9D9;
                   color: #DA4943;
                }

            }
            
            
// タグカテゴリーのincludeから
            }
        }
         
    }
}
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: ($PC)) {

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {

}




