/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
$PC: 768px;

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
    body {
         font-size: 1.6rem;
         box-sizing: border-box;
         @mixin tag-category {
                width: 115px;
                height: 40px;
                border-radius: 60px;
        }
        .sp
         .post-card {

         }
    }
}
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: ($PC)) {

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {

}




