/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
$PC: 768px;

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
    color: #374149;
    body {
        font-feature-settings: "palt";
         font-size: 1.3rem;
         box-sizing: border-box;
         @mixin tag-category {
                width: 115px;
                height: 40px;
                border-radius: 60px;
        }
        .sp-container {
            width: 100%;
            background-color: #fff;
            margin-bottom: 30px;
            .post-card {
                margin: 0 auto;
                width: 90%;
                height: 30px;
                background-color: gray;
               box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
border-radius: 3px;
            &__inner {
                margin: 2%;

            } 
            &__user-zone {
                display: flex;
                justify-content: space-between;
            }

            &__user-info {
                display: flex;
            }
            &__user-icon {
                
            width: 30%;
                margin-right: 2%;

            &--img {
                display: block;
            object-fit: cover;
             width: 15%;
             height: auto;
             
            }

            }
           
            &__user-name {
                font-weight: bold;
                letter-spacing: 0.1rem;
                font-size: 1.6rem;
                display: block;
                
            }
            &__post-place {
                padding-top: 5%;
                display: flex;
                align-items: center;
            }
            &__place-icon {
                margin-right: 2%;
            }

            }
        }
         
    }
}
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: ($PC)) {

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {

}




